
UINavigationBar
{
    backgroundImage: "ipad-menubar-right.png";
    tintColor: blackColor;
}

UITableView
{
    backgroundView: "leather-background.png" capInsets(0,0,0,0);
}

SCPullToRefreshView
{
    backgroundColor: "leather-background.png";
}

SCTableViewCell
{
    backgroundColor: cyanColor;
}

VideoDetailCell
{
    backgroundColor: cyanColor;
}